table {
	border-collapse: collapse;
	width: 100%;
	margin-top: 20px;
	border: 1px solid black;
	text-align: center;
	font-family: Verdana, Tahoma, sans-serif;
}

td:hover {
	background-color: #01afff9a
	}

td {
	background-color: rgb(219, 241, 255);
}

th, td {
	text-align: center;
	padding: 8px;
	border: 1px solid black;
	width: 15%;
}
th {
	width: 5%;
}

caption{
	text-align: center;
	padding: 8px;
	border: 1px solid black;
	background-color: #0b50ff;
	color: white;
}

.sin-borde td, .sin-borde th{
	border: none;
}

th {
	background-color: #3399ff;
	color: white;
}


table #clase-0{
	background: #ffffff;
	border: none;
}
